* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.line {
    width:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 120px;
    margin-right: 120px;
    height: 2px;
    background-color: aquamarine;
}

/* NAVIGATION BAR */
nav {
    padding: 10px;
    background-color: rgb(5, 1, 17);
    position: sticky; /* nav bar on aina näkyvillä ylhäällä, vaikka selaisit alaspäin*/
    top: 0;
    z-index: 1; /* nav bar on aina ylimmäinen näkyvä asia, eli muut asiat menevät sen alle piiloon*/
    border-bottom: 1px solid aquamarine;
    text-align: center;
}

nav a { 
    display: inline;
    text-decoration:overline underline;
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    color: aliceblue;
    transition: color 0.5s, font-size 0.5s;
}

nav a:hover {
    color: aquamarine;
    font-size: 22px;
}

nav p {
   /* display: inline;*/
    font-size: 12px;
    color: aliceblue;
    text-align: center;
}

/* HEADER jutut. Kuva + teksti sen päällä*/
header {
    height:91vh;
    background-image: url(images/code.jpg);
    background-color: rgb(52, 161, 175);
    background-blend-mode:color-burn;
    filter: grayscale(87%);
    background-size:cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

header p {
/* tämä muokkaa tekstin paikan kuvan päälle. */
    text-align: center;
    padding-top: 350px;
/*kuvan päällä olevan tekstin ulkonäkö*/
    color: rgb(144, 78, 182); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.1rem;
    font-style: oblique;
    letter-spacing: -2px; 
    transition: color 1s, letter-spacing 1s;
}
header p:hover {
    color: rgb(255, 255, 255);
    letter-spacing: 0px; 
    transition: color 1s, letter-spacing 1s;
}

/* MAIN AREA */

main div {
    margin: 5px;
}

h1 {
    font-size: 3rem;
    padding: 5px;
    color: aliceblue;
    text-shadow: 1px 1px aquamarine;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* SECTION: Who AM I?*/

#me {
    padding: 5rem 10rem;

}

#me h1 {
    margin-left: 19%;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#me p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#me .me_content {
    display: flex;
}

#me .me_image img {
    display: block;
    margin-left: auto;
    position: relative; bottom: 9rem;
    width: 35%;
    border-radius: 40%;
    transition: width 1s, border-radius 1s;
    filter: grayscale(57%);
}

#me .me_image img:hover {
    width: 55%;
    border-radius: 25%;
}

/* SECTION: craft*/

#craft {
    padding: 5rem 10rem;

}

#craft h1 {
    margin-left: 65%;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#craft p {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#craft ul {
    margin: 1rem;
    text-align: center;
    list-style: none;;
    font-size: 1.2rem;
    line-height: 2rem;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#craft .ul_heading {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.3rem;
    line-height: 2rem;
    color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#craft .craft_content {
    display: flex;
}

#craft .craft_image img {
    display: block;
    margin-right: auto;
    position: relative; bottom: 8rem;
    width: 45%;
    border-radius: 40%;
    filter: grayscale(47%);
    transition: width 1s, border-radius 1s;
}

#craft .craft_image img:hover {
    width: 55%;
    border-radius: 25%;
}


