<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<title>Muokkaa juoma-arvostelulistaa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/resources/static/css/style.css" th:href="@{/css/style.css}" />
	<style>/* style.css ^ */</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Icon library ^ -->
	
</head>
<body>
	<!-- Otsikko, haku ja linkit. Navbar aina näkyvillä "liimattuna" sivun yläosassa -->
	<nav>
		<h1><a th:href="@{/index}" class="navh1a">Juoma-appi</a></h1>
		<ul>
			<!-- <img src="/images/beersamples.jpg" width="80" height="80" th:src="@{/images/beersamples.jpg}" /> -->
			<a th:href="@{/login}">Sign in</a>
			<a th:href="@{/logout}">Sign out</a>
            <a th:href="@{/index}"> Main page</a>
			<a th:href="@{/addbeverage}" sec:authorize="hasAuthority('ADMIN')">Admin page</a>
        </ul>
		<form th:action="@{/search}" sec:authorize="hasAuthority('USER') or hasAuthority ('ADMIN')">
			<div class="ibutton"><i class="fa fa-info"></i><span class="infotext">Hae nimen, tyypin, tyylilajin, tekijän, ABV:n tai tähtien mukaan</span></div>
			<input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Hae" />
			<button type="submit" value="Search"><i class="fa fa-search"></i></button>
		</form>
	</nav>

	<div class="flexcontainer">
		<form class="errorform">
			<h2>! ERROR !</h2>
			<h2>Annoit virheellisiä arvoja. Juomaa ei lisätty/muokattu</h2>
			<label>Juomalla täytyy olla nimi</label>
			<label>Juoman tähdet täytyy olla väliltä 1-5</label>
			<label>Juoman alkoholiprosentti täytyy olla väliltä 0-99</label>
			<a th:href="@{/index}" class="errorbutton"> Main page</a>
			<a th:href="@{/addbeverage}" sec:authorize="hasAuthority('ADMIN')"  class="errorbutton">Takaisin</a>
		</form>
	</div>

</body>

</html>