<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koodiameles // Jussi</title>
    <meta name="description" content="Jussi 'koodiameles' Junnila's homepage. Here you can find my bio ans some of my works.">
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <!-- Navigation bar -->
    <nav>
        <p>/// Jussi Junnila /// ameles ///</p>
        <div class="line"></div>
        <ul>
            <a href="#index.html"> Who am I? </a>
            <a href="#craft.html"> Craft </a>
            <a href="#contact.html"> Contact info</a>
            <a href="#projects.html"> Personal projects</a>
        </ul>
        <div class="line"></div>
    </nav>

    <header>
         <div><p>I code, brew beer, play piano and spend time with my loved ones</p></div>
    </header>

    <main>
        <!-- Who am I? -section -->
        <div class="line"></div>
        <section id="me">
            <div class="container">
                <h1 class="me_heading">A little about me</h1>
                <div class="me_content">
                    <p> I'm guy from Finland who brews beer, plays the piano and is into programming.
                        <br>
                        Even though I have many things I enjoy in life, programming is growing to be more of a passion for me.
                        <br> <br>
                        I've always been a creator by heart. Whether it is music, games, stories, beer or nowadays even web-content, I always find satisfaction and happines in creating things.
                        
                    </p>
                    <div class="me_image">
                        <img src="images/venejussi_2.jpg" alt="Picture of me on a boat">
                        <img src="images/piano.jpg" alt="Picture of a piano">
                        <img src="images/beer.jpg!d" alt="PIcture of 4 beers">
                    </div>
                </div>
            </div>
        </section>

        
         <!-- Craft -section (Skillset and such) -->
        <div class="line"></div>
        
        <section id="craft">
            <div class="container">
                <h1 class="craft_heading">Craft</h1>
                <div class="craft_content">
                    <div class="craft_image">
                        <img src="images/laptop.jpg" alt="Picture of a laptop">
                        <img src="images/laptopcoffee.jpg" alt="Pic of laptop and coffee">
                        <img src="images/jussi.PNG" alt="">
                    </div>
                        <ul>
                            <li class="ul_heading">Languages:</li>
                            <li>Finnish</li>
                            <li>English</li>
                        </ul>
                        <br>
                        <ul>
                            <li class="ul_heading">Programming Languages:</li>
                            <li>Java</li>
                            <li>HTML/CSS/JS</li>
                            <li>Python</li>
                            <li>Gamemakerstudio's GML</li>
                        </ul>
                    <p>I've graduated  from Haaga-Helia university of applied sciences <br>
                        Where I studied computer science and programming </p>
                </div>
            </div>
        </section>

    
        <!-- contact info -section -->
        <div class="line"></div>
        <div> <h1>Contact Info</h1>
            <p>Contact Info</p>
        </div>
        <!-- personal projects -section (for all kinds of stuff) -->
        <div> <h1>Personal Projects</h1>
            <p>Personal Projects</p>
        </div>
    </main>

    <footer></footer>

</body>


</html>